[Unit]
Description=syncthing-podman.service
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
TimeoutStartSec=900

[Container]
Image=docker.io/syncthing/syncthing:latest
ContainerName=%p
AutoUpdate=registry
UserNS=keep-id:uid=1000,gid=1000
Volume=syncthing:/var/syncthing:z,rw
Volume=%h/Public/syncthing/passwords:/var/syncthing/passwords:z,rw
Network=host

[Install]
WantedBy=default.target
