[Desktop Entry]
Categories=Utility
Comment=Scheduling LIGHT/DARK Theme Switcher for the KDE Plasma Desktop
DBusActivatable=false
Exec=koi
GenericName=Theme Switcher:Theme Scheduler
Icon=koi
Keywords=Theme; Switch; Light; Dark; Schedule; Sunrise; Sunset; Dusk; Dawn; Timer; Kvantum; Set;
Name=Koi
Path=/usr/bin/:/usr/local/bin
SingleMainWindow=true
StartupNotify=true
StartupWMClass=Koi
Terminal=false
TryExec=koi
Type=Application
Version=1.5
