[Desktop Entry]
Categories=Utility;Office;Audio;AudioVideo;TextEditor;Translation;KDE;Qt;
Comment=Take, read and translate notes in multiple languages, using Speech to Text, Text to Speech and Machine Translation.
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=dsnote --file-forwarding net.mkiol.SpeechNote @@ %F @@
Icon=net.mkiol.SpeechNote
Keywords=Speech Note;dsnote;
MimeType=audio/aac;audio/mpeg;audio/x-mp3;audio/ogg;audio/opus;audio/vorbis;audio/x-vorbis;audio/x-speex;audio/speex;audio/wav;audio/x-wav;audio/flac;audio/x-flac;audio/x-matroska;audio/webm;audio/mp4;video/mpeg;video/mp4;video/ogg;video/x-matroska;video/webm;text/plain;application/x-subrip;
Name=Speech Note
StartupWMClass=net.mkiol.dsnote
Type=Application
X-Flatpak=net.mkiol.SpeechNote
