[Unit]
Description=Start xremap with configuration

[Service]
ExecStart=/home/st/.local/share/cargo/bin/xremap /home/st/.config/xremap/config.yml --watch
Restart=on-failure

[Install]
WantedBy=default.target
